doctype
html(itemscope,itemtype="http://schema.org/Article" lang="zh-TW")
    //page default Information
    - var compJs = ["comingsoon.js"]
    block pageInfo
        - var pageTitle = "好運鼠來寶 登錄發票抽十萬元黃金鼠"
        - var pageDesc = "黃金鼠、Apple Watch大獎抽起來！週週再抽現金8,888、威秀電影票、LINE POINTS等多項好禮！"
    //html head
    include _head.pug
    //html body
    body
        noscript
            iframe(src="https://www.googletagmanager.com/ns.html?id=GTM-KHMXJP7" height="0" width="0" style="display:none;visibility:hidden")
        div.l-wrap#app(v-cloak=isVue)
            include _nav.pug
            // render nav view
            div.l-fb
                div.l-container
                    div.fb-box
                        .fb-like(data-href='#', data-layout='button_count', data-action='like', data-show-faces='false', data-share='true') 
            div.l-main
                block page_main
                //render main view
            div.l-footer.footer
                div.l-container
                    p Copyright © 2020 葡萄王生技股份有限公司 All Rights Reserved.
            include _popup.pug
            //- comingsoon(:startDate="start_date" :comMode="mode")
            comingsoon
        include _comingsoon.pug
        include component/_lotteryBackfill.pug
        script(type="text/javascript" src=jsFolder+"vendor.js")
        script(type="text/javascript" src=jsFolder+"lib.js")
        if more_js
            script(type="text/javascript" src= jsFolder + more_js)
        //- script(src="static/adapter-latest.js")
        //- script(src="static/soundmeter.js")
        script(type="text/javascript" id="appjs" src= jsFolder + "app.js?v="+timestamp data-mode=`${dev_mode}` data-site=`${apiUrl}`)
        if compJs
            each js in compJs
                script(type="text/javascript" src= jsFolder + "component/" + js)
        if pageJs
            script(src= jsFolder + pageJs+"?v="+timestamp)
        script(type='text/javascript')